:root {
    --body-color: #011212;
    --ball-width: 100px;
    --ball-height: 100px;
    --ball-background: #ff8800;
    --ball-radius: 50px;
}

body {
    background-color: var(--body-color);
}

.ball {
    width: var(--ball-width);
    height: var(--ball-height);
    background-color: var(--ball-background);
    border-radius: var(--ball-radius);
}
